{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}
body{
    margin: 0;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color:white ;
    font-size: 1.2rem;
    text-decoration: none;
}
[class*="col-"]{
    float:left;
    padding: 5px;
}
[class*="col-"]{
    width: 50%;
}
.navbar{
    background-color:#0c6168 ;
    padding: 1% 7%;
    text-align: right;
}
.navbar h1{
    color: white;
    margin: 0%;
    padding-top: 10px;
}

.navbar-menu{
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
}
.nevbar-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;

}

.navbar-menu a:hover{
    background-color: gray;
}



.navbar::after{
    content: "";
    display: table;
    clear: both;
}


